/*　ハンバーガーメニューボタン　*/
.hamburger {
  display : block;
  position: relative;
  z-index: 99999999999;
  left:16px;
  top   : 0px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  background-color: white;
  border-radius: 50%;
}
.hamburger span {
  display : block;
  position: absolute;
  width: 1.13333rem;
  height  : 2px ;
  left    :50%;
  transform: translateX(-50%);
  background-color: #969696;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: calc(45% - 4px);
}
.hamburger span:nth-child(2) {
  top:50%;
  transform:translate(-50%,-50%);
}
.hamburger span:nth-child(3) {
  bottom: calc(45% - 4px);
}

/* スマホメニューを開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  /* opacity: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg) !important;
  background-color: #969696;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
}

/* .hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) !important;
  background-color: #969696;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
} */

.hamburger.active span:nth-child(2){
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) !important;
  background-color: #969696;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
}







/* メニュー背景　*/
nav.globalMenuSp {
  position: fixed;
  z-index : 999999999;
  top  : 0;
  left : 0;
  color: #333333;
  background-color:white;
  text-align: center !important;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.6s;
  padding: 13px 20px;
}

.globalList{
  margin:50% 0 0;
  padding: 0;
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background-color: #8a5705;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #333333;
  padding: 1em 0;
  text-decoration :none;
}

/* クリックでjQueryで追加・削除 */
nav.globalMenuSp.active {
  opacity: 100;
   transform: translateX(0%);
}

/* スマホのラインナップ */
.globalMenuSp h1{
  text-align: left;
}
.lineNapSp{
  width:123px;
  margin:20px auto 32px;
  padding:6px 6px 6px 16px;
  border: solid 1px #333333;
  border-radius:9999px;
  background-color: #fff;
}
.lineNapSp{
  color: #333333;
}
.iconFlexSp{
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}
.iconFlexSp li{
  width:25px !important;
}
.iconFlexSp li a{
  display: block;
  padding: 1em 0;
}
@media screen and (max-width:768px){
  .hamburger{
    width: 37.13px;
    height: 37.13px;
    left: inherit;
    margin-left: 16px;
  }
  .hamburger span:nth-child(2) {
    top:50%;
    transform: translate(-50%,-50%);
  }
}
