@charset "UTF-8";
html{
  font-family: "Lato", sans-serif;
  /* font-family: "Noto Serif JP", serif; */
  /* font-size: 10px; */
  font-size: .625vw;
  text-align: justify;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
    color:#333333;
}
/* .product_item_flex{
    display: flex;
    width: 100%;
} */
/* 共通 */
body{
    overflow-x:hidden;
}

a {
    color: inherit;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: inherit;
}
.container_fild{
    width: 100%;
}
.container{
    width: max(100% - 16rem,87.5%);
}
h2,h1,h3,h4,.journal-card_number,.hedding_journal{
    font-family: "Noto Serif JP", serif;
}
img{
    width: 100%;
}
.logo{
    width:144px;
}
.template_hedding{
    font-size: 50px;
    letter-spacing: .02em;
    color: #CD2B1F;
    font-weight: normal;
}
button, input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}
.product_menu_topMargin{
    margin-top: 28rem;
}
.fv_img{
    object-fit: cover;
    min-height: 100svh;
}

/* PCのハンバーガーメニュー */
.hamburger {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 16px;
    cursor: pointer;
    /* transition: .3s; */
    -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
    z-index: 9999;
}
.hamburger_open_content{
    display: block;
    position:fixed;
    top: 0;
    left: 100%;
    width:100%;
    height:100%;
    cursor: pointer;
    opacity: 0;
    transition: left.5s , opacity.5s;
    overflow:hidden;
    z-index: 9999;
}
.hamburger_open_content .inner_line:first-child{
    top: 0;
    transform: translateY(7px) rotate(-45deg);
}
.hamburger_open_content .inner_line:last-child{
    bottom: 0;
    transform: translateY(0px) rotate(45deg);
}
.hamburger_open_content.active{
    left: 0;
    opacity: 1;
}
.inner_line{
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color:#CD2B1F;
    transition: .3s;
    border-radius: 4px;
}

.globalMenuPc{
    position:absolute;
    top: 0;
    right: 0;
    width:550px;
    height: 100%;
    padding: 60px 55px;
    background-color: white;
    z-index: 999999999;
}
.header-nav__flexPc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.globalMenuPc .icon{
    position: relative;
    margin: 0 0 0 18px;
    vertical-align: middle;
}

.globalMenuPc .icon::before{
    content:"";
    position: absolute;
    display:inline-block;
    width: 36px;
    height: 36px;
    border-radius: 999999%;
    border: solid 1px #DD8A8B;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.icon_box img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 14px;
}
/* アイコンサイズ */
.person_icon{
    width: 24px;
    height:24px;
}
.sns_icon_size img{
    width: 24px;
    height: 24px;
}
.heart_icon{
    width: 24px;
    height: 24px;
    padding-top: 2px;
}
.sns_icon_size{
    width: 23px;
    height: 23px;
}
.icon_box{
    display: flex;
    align-items: center;
}
.globalMenuPc_section{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.globalMenuPc_section li a span:first-child{
    font-family: "Noto Serif JP", serif;
    font-size:28px;
    letter-spacing:0.08em;
    color:#CD2B1F;
}
.globalMenuPc_section li a span:last-child,
.globalMenuPc_sns li a span:last-child{
    margin-left: 12px;
    font-size:12px;
}
.globalMenuPc_section li a span:last-child{
    color:#DD8A8B;
}
.globalMenuPc_sns li a span:last-child{
    color: #CD2B1F;
}
.globalMenuPc_sns{
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hamburger_copy_box{
    margin-top: auto;
}
.hamburger_copy{
    font-size: 12px;
    color: #CD2B1F;
    letter-spacing: .2em;
}
.copy_box{
    margin-top:auto;
}
.hamburger_img_content{
    position: absolute;
    left: 0;
    top: 0;
    width:max(100% - 550px);
    height: 100%;
}
.hamburger_img{
   width: 100%;
   height: 100%;
}
.hamburger_img img{
    object-fit: cover;
    min-height: 100svh;
}
/* PCのハンバーガーメニュー終了 */




/* ヘッダー線 */
.hamburger span{
    position: absolute;
    display: inline-block;
}
.hamburger span:first-child{
    top:0;
    left: 0;
}
.hamburger span:nth-child(2){
    top:7px;
    left: 0;
}
.hamburger span:last-child{
    bottom: 0;
    left: 0;
}
/*   ヘッダー */
/* header{
    height: 100vh;
} */
.header_nav{
    position: fixed;
    mix-blend-mode: multiply;
    top:6.5vh;
    width: 100%;
    z-index: 9999;


}
.header-nav__padding{
    padding:0 47px;
}
.header-nav__flex{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
/* ヘッダーメインビジュアル */

/* ヘッダー右部分 */
.head_right_list{
    display: flex;
    align-items: center;
}
.header__link-wrapper>span{
    font-size:1.3rem;
    color: #CD2B1F;
}
.CartCount span{
    font-size: 1.4rem;
    color: #000;
}
/* ヘッダーのカートボックス部分 */
@media screen and (min-width: 480px){
    .head_right_cartbox{
        margin-right: 20px
    }
};
.header__link-wrapper{
    display: flex;
}
/* ヘッダーカート部分 */
#CartCount span{
    color: white;
}
span#CartCount{
    padding:15px 15px;
    border-radius:50%; 
    position: relative;
    margin-left: 3px;
}
span#CartCount:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #CD2B1F;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: -1;
    transition: .6s;
}
.header_nav span#CartCount:before {
    background-color: #CD2B1F;
}
@media screen and (min-width: 480px){
    span#CartCount:before {
        width: 36px;
        height: 36px;
    }
};


/* メインビジュアルアニメーション */


@media screen and (max-width:768px){
    .hamburger_img_content{
        display: none;
    }
    .globalMenuPc {
        width:100%;
        height: 100%;
        padding: 60px 55px;
    }
    .header-nav__flexPc {
        flex-direction: column-reverse;
        gap: 20px;
        align-items:flex-start;
    }
    .icon_box {
        display: flex;
        align-items:center;
        flex-direction: row-reverse
    }
    .globalMenuPc .icon {
        position: relative;
        margin: 0 18px 0 0;
        width: 24px;
       height: 24px;
    }
    .icon_box img{
        width: 23px;
        height: 23px;
        /* margin:none; */
    }
    .header-nav__padding {
        padding: 0 16px;
    }
    .head_right_list {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .rogo {
        width: 100px;
    }
    .globalMenuPc_section li a span:first-child {
        font-size: 20px;
    }
    .globalMenuPc_section li a span:last-child, .globalMenuPc_sns li a span:last-child {
        font-size: 11px;
        /* color: #DD8A8B;
        margin-left: 12px; */
    }
    .hamburger_open_content {
        overflow-y: scroll;
    }
    .hamburger_open_content {
        visibility: visible;
        background-color: white;
    }
    .globalMenuPc_sns .icon_box{
        flex-direction: row;
    }
    .globalMenuPc .icon::before {
        width: 28px;
        height: 28px;
    }
    .globalMenuPc_section {
        margin-top: 47px;
    }
    .globalMenuPc .icon {
        margin:0 10px 0 0;
    }
    .person_icon{
        width: 14px;
        height:14px;
    }
    .globalMenuPc_sns{
        gap: 14px;
    }
    .globalMenuPc_sns span{
        font-size: 13px !important;
        color: #CD2B1F !important;
    }
}

@media screen and (max-width:768px){
    .logo {
        width: 120px;
    }
    .hamburger_img_content{
        display: none;
    }
    .globalMenuPc {
        width:100%;
        height: 100%;
        padding: 60px 55px;
    }
    .header-nav__flexPc {
        flex-direction: column-reverse;
        gap: 20px;
        align-items:flex-start;
    }
    .icon_box {
        display: flex;
        align-items:center;
        flex-direction: row-reverse
    }
    .globalMenuPc .icon {
        position: relative;
        margin: 0 18px 0 0;
        width: 24px;
       height: 24px;
    }
    .icon_box img{
        width: 23px;
        height: 23px;
        /* margin:none; */
    }
    .header-nav__padding {
        padding: 0 16px;
    }
    .head_right_list {
        display: flex;
        align-items: center;
        flex-direction: row-reverse
    }
    .rogo {
        width: 100px;
    }
    .sp_CartCount_flex{
        display: flex;
        margin-bottom: 27px;
    }
    .globalMenuPc_section li a span:first-child {
        font-size: 20px;
    }
    .globalMenuPc_section li a span:last-child, .globalMenuPc_sns li a span:last-child {
        font-size: 11px;
        /* color: #DD8A8B;
        margin-left: 12px; */
    }
    .hamburger_open_content {
        overflow-y: scroll;
    }
    .hamburger_open_content {
        visibility: visible;
        background-color: white;
    }
    .globalMenuPc_sns .icon_box{
        flex-direction: row;
    }
    .globalMenuPc .icon::before {
        width: 28px;
        height: 28px;
    }
    .globalMenuPc_section {
        margin-top: 47px;
    }
    .globalMenuPc .icon {
        margin:0 10px 0 0;
    }
    .person_icon{
        width: 14px;
        height:14px;
    }
    .globalMenuPc_sns{
        gap: 14px;
    }
    .globalMenuPc_sns span{
        font-size: 13px !important;
        color: #CD2B1F !important;
    }
    
}

/* ニュースcontentセクション */
.news_content_container{
    /* margin: 250px auto 250px; */
    margin:9rem auto 250px;
    width: max(100% - 16rem,87.5%);
}
.news_content_inner{
    margin: 0 1rem 0 1rem;
}
.article_title_area{
    display: flex;
}
.article_title_area__left{
    width: 60%;
}
.article_title_area__right{
    width: 50%;
}
.meta-text-area{
    display: flex;
    font-size: 16px;
    margin:10px 0 24px;
}
.meta-text-area span:not(:last-child){
    margin-right: 15px;
}
.article_title_area__left h2{
    font-size: 24px;
    font-weight: normal;
}
.news_content_container {
    /* margin: 250px auto 250px; */
    margin:144px auto 250px;
    max-width:1200px;
}
.share_link_area{
    position: relative;
    padding-bottom: 15px;
}
.share_link_area ul{
    display: flex;
    align-items: center;
}
.share_link_area ul li:not(:first-child){ 
    width:23px;
}
.share_link_area ul li:not(:last-child){
    margin-right:20px;
}
.share_link_area:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.article_main_fild{
    padding:96px 0 96px;
    position:relative;
}
.article_main_fild:after{
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.article_main_container{
    max-width: 650px;
    margin: 0 auto;
}
.article_main_container p{
    font-size:14px;
    line-height:1.8;
}
.article_main_container h3{
    font-size: 20px;
    line-height: 1.8;
    font-weight: normal;
    margin-bottom: 10px;
}
/* ニュースセクション */
.news_section_container{
    margin:0px auto 250px;
    /* width: max(100% - 16rem,87.5%); */
}
.news_section_container .template_hedding{
    margin-bottom:0;
}
.hedding-box{
    margin:0 auto;
    width: max(100% - 16rem,87.5%);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.news_section_container .hedding-box{
    margin-bottom: 8.4rem;
}
/* スワイパー */
.swiper{
    width: 100%;
}
.swiper_container{
    padding: 0 min(8rem,6.25%) !important;
    width: 100%;
}
/* スワイパーボックス設定 */
.swiper-box{
    padding:40px;
    border: solid 1px #DD8A8B;
    width: 31.5178571429% !important;
}
.swiper-box:not(:last-of-type) {
    margin-right: 2.6785714286%;
}
.swiper-day-text{
    display: block;
    font-size: 10px;
    color: #DD8A8B;
    margin-bottom: 15px;
}
.swiper-text{
    font-size: 13px;
}
.swiper-text span{
    font-family: "Noto Serif JP", serif;
}
.swiper-viewMore-flex{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.swiper-viewMore-flex::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #DD8A8B;
    margin-right: 9px;

}
.swiper-arrow-flex{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.swiper-arrow-flex span{
    white-space: nowrap;
    font-size: 11px;
    padding-right: 14px;
}
.swiper_redArrow{
    width: 6.2px;
}
.swiper-flex{
    display: flex;
}
.view_all_btn {
    display: inline-block;
    padding: 11px 16px;
    border: solid 1px #DD8A8B;
    border-radius: 4px;
}
.view_all_btnContent {
    display: flex;
    align-items: center;
    gap: 87px;
}
.view_all_btnContent span{
    font-size: 12px;
    color: #DD8A8B;
}



/* フッター */

.footer_section{
    background-color:#CD2B1F; 
}
/* snsリストセクション */
.snsList_section_flex{
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.snsList_section_flex li{
    width:33%;
    position: relative;
}

@media screen and (min-width: 900px){
.snsList_section_flex li:not(:first-child):before {
    background-color: hsla(0,0%,100%,.1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
}




.snsList_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding:95px 0 76px;
    font-family: "Noto Serif JP", serif;
}
.snsList_hedding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.snsList_content h4{
    font-size: 20px;
    color: white;
    margin-bottom: 18px;
    font-weight: normal;
    letter-spacing: .02em;
}
.snsList_content p{
    font-size: 10px;
    color: white;
    letter-spacing: .1em;
    text-align: center;
    line-height: 1.67;
}
.snsIcon{
    width:87px;
    height: 87px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid hsla(0,0%,100%,.2);
    -webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
/* .snsList_content:hover .snsIcon img{
    filter: invert(99%) sepia(0) saturate(0) hue-rotate(43deg) brightness(115%) contrast(100%);
} */
.snsList_content:hover .snsIcon{
    background-color: white;
}
.snsIcon img{
    position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/* width: 100%; */
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.snsList_content:hover .snsIcon img:last-child{
	opacity: 0;
}

/* フッターグローバルセクション */
.footer_grobal_section{
    padding:150px 0 175px;
}
.footer_grobal_flex{
    display:flex;
}

/* フッター左側 */
.footer_grobal_left{
    width: 35.667%;
}
.footer_rogo{
    width: 199px;
    margin-left: 80px;
}

/* フッター右側 */
.footer_grobal_rigth{
    width:64.333%;
}
.grobal_flex_wrap{
    display: flex;
}
.grobal_wrap{
    margin-left: 34px;
}
.footer_grobal_list{
    display: flex;
    gap: 34px;
    color: white;
}
.footer_grobal_list li a{
    color: white;
    letter-spacing: .2em;
    font-size: 20px
}
.footer_grobal_rigth span{
    display: inline-block;
    width:100%;
    height: 1px;
    background-color:hsla(0,0%,100%,.1);;
    margin: 40px 0 40px;
}
.copy{
    font-size: 12px;
    color: white;
    letter-spacing: .2em;
}





/* パソコンサイズ（max-width:1366px;） */

/* スマホサイズ */

@media screen and (min-width:768px){
     /* 共通 */
     .max-width768px{
        display:none;
    }
    .min-width768px{
        display: block;
    }
    }

@media screen and (max-width:768px){
        /* 共通 */
        .max-width768px{
           display:block;
       }
       .min-width768px{
           display:none;
       }
       .template_hedding {
        font-size: 2.8rem;
        letter-spacing: .02em;
        color: #CD2B1F;
        font-weight: normal;
        margin-bottom: 19px;
    }
    .product_menu_topMargin{
        margin-top:20rem;
    }
}
@media screen and (max-width:1100px){
    .footer_grobal_list li a {
        font-size: 11px;
    }
    .footer_rogo {
        width: 145px;
    }
    .footer_grobal_section {
        padding: 57px 0px 32px;
    }
}
@media screen and (max-width:768px){
    /* 共通 */
    .max-width768px{
        display: block;
    }
    html {
        font-size: 2.6667vw;
    }
    /* ファーストビューセクション */
   
    
    
    /* スマホサイズのナビゲーション */
    .header-nav__paddingSp{
        position: fixed;
        top:27px;
        left: 0;
        z-index: 111111111;
    }
    .header-nav__flexSp{
        display: flex;
        justify-content:space-between;
        width: 100%;
        padding:0 16px;
    }
    .rogo_sp{
        width: 113px;
    }
    .header__link-wrapper>span {
       margin-left:34px;
       font-size: 13px;
    }
   

    /* .snsIconリストセクション */
    .snsList_section_flex{
        flex-direction: column;
    }
    .news_list_content{
        margin:5.5rem 0 0 0;
    }
    .news_list_container {
        padding: inherit;
        width: 100%;
    }
    .snsList_content{
        padding: 48px 0 48px;
    }
    .snsList_content{
        gap: 2rem;
    }
    .snsIcon{
        width: 6.4rem;
        height: 6.4rem;
    }
    .snsList_content h4{
        font-size: 19.2px;
        margin-bottom: 12px;
    }
    /* ニュースコンテンツ */
    .article_title_area{
        flex-direction: column;
    }
    .article_title_area__left {
        width:100%;
        margin-bottom: 24px;
    }
    .article_title_area__right {
        width: 100%;
        margin-bottom: 30px;
    }
    .article_main_fild {
        padding:32px 0 32px;
        position: relative;
    }
    .news_section_container  {
        /* margin: 250px auto 250px; */
        margin: 10rem auto 10rem !important;
    }
    .news_content_container {
        /* margin: 250px auto 250px; */
        margin: 144px auto 10rem;
        max-width: 1200px;
    }
    
    .swiper-box {
        width: inherit !important;
    }
    .meta-text-area {
        font-size:14.4px;
    }
    .article_title_area__left h2 {
        font-size: 21px;
    }
    .article_main_container h3 {
        font-size: 18px;
    }
    .article_main_container p{
        font-size: 12px;
    }

    /* フッターセクション */
    .footer_grobal_flex{
        flex-direction: column;
    }
    .footer_grobal_list{
        flex-direction: column;
        gap: 16px;
    }
    .footer_grobal_section {
        padding:57px 16px 32px;
    }
    .snsList_section_flex li{
        width: 100%;
    }
    .snsList_section_flex li:not(:last-child) {
        border-bottom: 1px solid hsla(0,0%,100%,.1);
    }
    .footer_grobal_left{
        width: 100%;
        margin-bottom: 58px;
    }
    .footer_grobal_rigth {
        width: 100%;
    }
    .grobal_wrap {
        margin-left:10.3rem;
    }
    .footer_rogo {
        /* width: 199px; */
        margin-left: 0px;
    }
    .copy{
        font-size: 11px;
    }
}
/*===========
inview
===========*/

.fadeIn_up {
    opacity: 0;
    transform: translateX(12rem);
    transition: 2s;
  }
  .fadeIn_up.is-show {
    transform: translateX(0);
    opacity: 1;
    overflow: hidden;
  }
