.contact_confirm__wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .contact_confirm__wrapper {
    padding: 20px;
  }
}
.contact_confirm__wrapper .contact_confirm-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.contact_confirm__wrapper .contact_confirm-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .contact_confirm__wrapper .contact_confirm-item {
    flex-direction: column;
  }
}
.contact_confirm__wrapper .contact_confirm-item dt {
  width: 177px;
  font-size: 16px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .contact_confirm__wrapper .contact_confirm-item dt {
    width: 100%;
  }
}
.contact_confirm__wrapper .contact_confirm-item dd {
  width: calc(100% - 177px);
}
@media screen and (max-width: 768px) {
  .contact_confirm__wrapper .contact_confirm-item dd {
    width: 100%;
  }
}
.contact_confirm__wrapper .contact_confirm-item dd .file-label {
  position: relative;
  width: 142px;
  height: 38px;
  background: white;
  border: solid 1px #727272;
}
@media screen and (max-width: 768px) {
  .contact_confirm__wrapper .contact_confirm-item dd .file-label {
    width: 132px;
  }
}
.contact_confirm__wrapper .contact_confirm-item dd .file-label:nth-of-type(1) {
  margin-bottom: 10px;
}
.contact_confirm__wrapper .contact_confirm-item dd .file-label .wpcf7-form-control-wrap {
  display: contents;
}
.contact_confirm__wrapper .contact_confirm-item dd .file-label .wpcf7-form-control-wrap input[type=file] {
  display: none;
}
.contact_confirm__wrapper .contact_confirm-item dd .file-label .input-text {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .contact_confirm__wrapper .contact_confirm-item dd .file-label .input-text {
    left: 15px;
    font-size: 14px;
  }
}
.contact_confirm__wrapper .contact_confirm-item dd .file-label .input-name {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  white-space: nowrap;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .contact_confirm__wrapper .contact_confirm-item dd .file-label .input-name {
    left: 142px;
  }
}
.contact_confirm__wrapper .contact_confirm-item dd .fail-ann_txt {
  font-size: 14px;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .contact_confirm__wrapper .contact_confirm-item dd .fail-ann_txt {
    letter-spacing: 0.05rem;
  }
}

#contact_confirm-page .contact-confirm_flex {
  display: flex;
  gap: 20px;
  margin: 100px auto 0;
  position: relative;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #contact_confirm-page .contact-confirm_flex {
    flex-direction: column;
    margin: 40px auto 0;
  }
}
#contact_confirm-page .form_button {
  margin: 0;
}
@media screen and (max-width: 768px) {
  #contact_confirm-page .form_button {
    width: 90%;
    margin: 0 auto;
  }
}
#contact_confirm-page .wpcf7-spinner {
  position: absolute;
}/*# sourceMappingURL=contact_confirm.css.map */