 /*　ハンバーガーメニューボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 10000;
  right : 0px;
  top   : 0px;
  width : 44px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  background-color: white;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 18px;
  height  : 1px ;
  left    : 6px;
  background :#111111;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 18px;
  left:13px;
}
.hamburger span:nth-child(2) {
  bottom: 19px;
  left: 13px;
}
/* スマホメニューを開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  transform: translateY(3px) rotate(-45deg);
}

.hamburger.active span:nth-child(2){
  transform: translateY(-3px) rotate(45deg);
}

/* メニュー背景　*/
nav.globalMenuSp {
  position: fixed;
  z-index : 8;
  top  : 0;
  left : 0;
  color: #111111;
  background-color: rgba(245,245,245,.96);
  text-align: center;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.6s;
}

nav.globalMenuSp ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.hamburgerName{
  position: absolute;
  top: 16px;
  left: 20px;
}
.hamburgerName a{
  color: #111111;
  font-size: 18px;
  margin-bottom: 6px;
}
.hamburgerName span{
  font-size:16px
}
nav.globalMenuSp ul li {
  list-style-type: none;
  width: 100%;
}
nav.globalMenuSp ul li a {
  text-align: center;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 6.5%;
}
nav.globalMenuSp ul li:not(:last-child){
  margin-bottom:6.5%;
}
nav.globalMenuSp ul li a {
  display: block;
  color: #111111;
  text-decoration :none;
  transition:opacity .4s;
}
nav.globalMenuSp ul li a:hover{
  opacity:.6;
}
/* クリックでjQueryで追加・削除 */
nav.globalMenuSp.active {
  opacity: 100;
  display: block;
   transform: translateX(0%);
}