/*　ハンバーガーメニューボタン　*/
/* .hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
} */

/* スマホメニューを開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  /* top : 16px;
  left: 6px;
  background-color: #CD2B1F;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg); */
  background-color: #CD2B1F;
  top: 0;
    transform: translateY(7px) rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  /* top: 16px;
  background-color: #CD2B1F;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg); */
  background-color: #CD2B1F;
  top: 7px;
  transform: translateY(0px) rotate(45deg);
}

/* メニュー背景　*/
/* nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background-color:white;
  text-align: center !important;
  width: 100%;
  height:100%;
  transform: translateX(100%);
  transition: all 0.6s;
  padding: 13px 20px;
} */
.spLogo{
  width: 34px;
}
.spGbNav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin:50% auto 0;
  padding: 0;
}
.snsSp{
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}
nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
.snsSp li{
  width: 30px !important;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
/* nav.globalMenuSp ul li:hover{
  background-color: #afd6d6;
} */
/* nav.globalMenuSp ul li{
  border-top: 1px solid #A1C3C9;
}
nav.globalMenuSp ul li:last-child{
  border-bottom: 1px solid #A1C3C9;
} */
nav.globalMenuSp ul li a {
  display: block;
  color: #A1C3C9;
  padding: 1em 0;
  text-decoration :none;
  
}

/* クリックでjQueryで追加・削除 */
nav.globalMenuSp.active {
  opacity: 100;
  display: block;
   transform: translateX(0%);
}